:host {
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  display: flex;
  justify-content: space-between;
  align-content: stretch;
}

ul li.tab-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  padding: 5px 10px;
  white-space: nowrap;
}

a {
  text-decoration: none;
  color: black;
}
::-webkit-scrollbar {
  display: none;
}

.active {
  color: red;
}

.indicator {
  height: 2px;
  width: 2rem;
  margin: 2px 0 0;
  padding: 0;
  background-color: red;
}
