:host {
  padding-bottom: .4rem;
  background-color: #f5f5f5;
  display: block;
}
.grid-container {
  background-color: #ffffff;
  padding: 5px 0;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  display: grid;
  place-content: stretch;
  place-items: center;
  grid-gap: 0.4rem;
  grid-auto-flow: row;
  &::-webkit-scrollbar {
    display: none!important;
  }
}

.underline {
  width: 20%;
  height: 2px;
  background-color: #f5f5f5;
  margin: 0 auto;
  .highlight {
    width: 50%;
    height: 2px;
    padding: 0;
    background-color: #e02f29;
  }
}
